html{
    background-color:lightblue;
}

.image-viewer{
   text-align: center;
}
img{
    alignment: center;
    margin-top:5px;
    height: 500px;
    width: 100%;
}

h3:first-letter {
    text-transform:capitalize;
}

.btn-color{
    color: #ff1156;
    background-color: #3f41ff;
    border-color: #51d329;
    cursor: pointer;
}
.margin-top-30px{
    margin-top: 30px;
}